.tickets-header {
  text-align: center;
  margin-bottom: 20px;
}

.ticket-section {
  margin-bottom: 40px;
}

h1 {
  color: #333;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th,
td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ccc;
}

th {
  background-color: #f4f4f4;
}

td {
  background-color: #fff;
}

td a {
  color: #007bff;
  text-decoration: none;
}

td a:hover {
  text-decoration: underline;
}

.link-home {
  display: block;
  margin-top: 20px;
  text-align: center;
  color: #007bff;
}
